<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.springcloud.alibaba.dao.StorageDao">
	<resultMap id="BaseResultMap" type="com.atguigu.springcloud.alibaba.domain.Storage">
		<id column="id" property="id" jcbcType="BIGINT"/>
		<result column="product_id" property="productId" jcbcType="BIGINT"/>
		<result column="total"      property="total"     jcbcType="INTEGER"/>
		<result column="used"       property="used"      jcbcType="INTEGER"/>
		<result column="residue"    property="residue"   jcbcType="INTEGER"/>
	</resultMap>

	<update id="decrease">
		update t_storage 
		set used = used + #{count}, residue = residue -#{count}
		where product_id = #{productId}		
	</update>
</mapper>